@use "../../styles/variables.scss" as *;

.button {
  width: 100%;
  font-size: $regular-font-size;

  border: none;
  border-radius: 0.4rem;

  background-image: linear-gradient(180deg, #eeecec, #ffffff);
  box-shadow: 0 10px 30px #47484d;
  padding: 0.75rem 2.5rem;
  cursor: pointer;

  &:hover {
    background-image: linear-gradient(180deg, #cfcde0, #ffffff);
  }
}

@media (min-width: $tablet-breakpoint) {
  .button {
    font-size: $large-font-size;
    width: initial;
  }
}
